streamlit

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers
huggingface-hub

rank-bm25

pytesseract
pdf2image
pillow

python-dotenv

ollama
pymysql
langchain-ollama